.vs/
.test/

ssltGUI/obj/
sslt관련 문서/

현수GUI/WindowsFormsApp4/obj/

#DrawingTool_remake_ver1/DrawingTool_remake_ver1/obj
DrawingTool_remake_ver2/TestProject/obj

Semantic/Semantic/obj/
Semantic_AddGray2RGB/Semantic/obj/
Semantic_App/Semantic/obj/

*.pyc
__pycache__

*.exe
*.pdb
*.cache
*.resources